  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 1px solid black;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: inline-block;
    align-items: center;
    padding: 10px 60px;
    width: 100%;
  }
  
  .logo img {
    height: 50px;
  }
    
  nav ul {
    list-style: none;
    display: flex;
    margin-left: 40px;
  }
  
  nav ul li {
    margin-right: 20px;
    margin-left: 40px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
    margin-left: 40px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
  }
  
  main {
    max-width: 800px;
    margin: 10px auto;
    padding: 0 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-menu ul,
  .footer-social ul {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-menu li,
  .footer-social li {
    margin: 0 10px;
  }
  
  .footer-menu a,
  .footer-social a {
    color: #fff;
    text-decoration: none;
  }

    .footer-menu,
    .footer-social {
      margin-top: 20px;
    }
  
